 <form [formGroup]="postForm" (ngSubmit)="onSubmit()">

        <h3 style="text-align:center">
            Create Post
        </h3>

        <div class="form-group">
              <!-- Username -->
              <label for="username">Title: <span class="lblError">*</span></label>
              <div class="controls">
                <input type="text" id="title" placeholder="Title" class="form-control" formControlName="title">
                <p class="lblError" *ngIf="postForm.get('title').hasError('required')
                            && !postForm.get('title').pristine">
                    Title is Required
                </p>
              </div>
        </div>

        <div class="form-group">
              <!-- Username -->
              <label for="username">Body: <span class="lblError">*</span></label>
              <div class="controls">
                <textarea type="text" id="body" placeholder="Body" class="form-control" formControlName="body"></textarea>
                <p class="lblError" *ngIf="postForm.get('body').hasError('required')
                            && !postForm.get('body').pristine">
                    Body is Required
                </p>
              </div>
        </div>

        <div class="form-group">
          <button class="btn btn-primary" type="submit" [disabled]="postForm.invalid" style="width: 15%">
            Create
          </button>
        </div>

  </form>